.classpath
.project
.settings/

common-util/target/
common-util/.settings/
common-util/.classpath
common-util/.project
common-util/.gitignore
common-util/.mymetadata

data-access-layer/target/
data-access-layer/.settings/
data-access-layer/.classpath
data-access-layer/.project
data-access-layer/.gitignore
data-access-layer/.mymetadata

cs/target/
cs/.settings/
cs/.classpath
cs/.project
cs/.mymetadata