<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esd.db.dao.employerMapper" >
  <resultMap id="BaseResultMap" type="com.esd.db.model.employer" >
    <id column="employer_id" property="employerId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="employer_name" property="employerName" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_method" property="createMethod" jdbcType="VARCHAR" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_method" property="updateMethod" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    employer_id, user_id, employer_name, create_id, create_time, create_method, update_id, 
    update_time, update_method, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employer
    where employer_id = #{employerId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employer
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selEmployerIdByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select 
    employer_id
    from employer
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employer
    where employer_id = #{employerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esd.db.model.employer" >
    insert into employer (employer_id, user_id, employer_name, 
      create_id, create_time, create_method, 
      update_id, update_time, update_method, 
      version)
    values (#{employerId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{employerName,jdbcType=VARCHAR}, 
      #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createMethod,jdbcType=VARCHAR}, 
      #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateMethod,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.esd.db.model.employer" >
    insert into employer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="employerId != null" >
        employer_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="employerName != null" >
        employer_name,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createMethod != null" >
        create_method,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateMethod != null" >
        update_method,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="employerId != null" >
        #{employerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="employerName != null" >
        #{employerName,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMethod != null" >
        #{createMethod,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateMethod != null" >
        #{updateMethod,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esd.db.model.employer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 03 14:24:51 CST 2014.
    -->
    update employer
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="employerName != null" >
        employer_name = #{employerName,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMethod != null" >
        create_method = #{createMethod,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateMethod != null" >
        update_method = #{updateMethod,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where employer_id = #{employerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esd.db.model.employer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 03 14:24:51 CST 2014.
    -->
    update employer
    set user_id = #{userId,jdbcType=INTEGER},
      employer_name = #{employerName,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_method = #{createMethod,jdbcType=VARCHAR},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_method = #{updateMethod,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where employer_id = #{employerId,jdbcType=INTEGER}
  </update>
</mapper>