<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esd.db.dao.RegistrationMapper">
	<resultMap id="BaseResultMap" type="com.esd.db.model.Registration">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="card" jdbcType="VARCHAR" property="card" />
		<result column="district_id" jdbcType="INTEGER" property="districtId" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="qq" jdbcType="VARCHAR" property="qq" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="des" jdbcType="VARCHAR" property="des" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_method" jdbcType="VARCHAR" property="createMethod" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_method" jdbcType="VARCHAR" property="updateMethod" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, card, district_id, phone, qq, address, des, create_time, create_method,
		update_time, update_method
	</sql>
	<select id="selectByTimeAndDistrictId" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from registration
		where district_id = #{districtId}
		<if test="beginDate != null || endDate !=null">
			and create_time between DATE_FORMAT(#{beginDate}, '%Y-%m-%d') and DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		</if>
		
		limit #{begin},#{end}
	</select>
	<select id="selectCountByTimeAndDistrictId" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
		count(id) totle
		from registration
		where district_id = #{districtId}
		<if test="beginDate != null || endDate !=null">
			and create_time between DATE_FORMAT(#{beginDate}, '%Y-%m-%d') and DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from registration
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByDistrictId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from registration
		where district_id = #{districtId,jdbcType=INTEGER}
	</select>

	<select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from registration
		where name = #{name,jdbcType=VARCHAR}
	</select>
	<select id="selectByCard" parameterType="java.lang.String" resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by MyBatis Generator, do not modify. This element was generated on Tue Oct 14 13:54:31 CST 2014. -->
		select
		<include refid="Base_Column_List" />
		from registration
		where card = #{card,jdbcType=VARCHAR}
	</select>
	<select id="selectBySelective" parameterType="com.esd.db.model.Registration" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from registration
		<where>
			<if test="id != null">
				id=#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				and name like concat('%',#{name,jdbcType=VARCHAR},'%'),
			</if>
			<if test="card != null">
				and card=#{card,jdbcType=VARCHAR},
			</if>
			<if test="districtId != null">
				and districtId=#{districtId,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				and phone=#{phone,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				and qq=#{qq,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				and address=#{address,jdbcType=VARCHAR},
			</if>
			<if test="des != null">
				and des=#{des,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				and createTime=#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createMethod != null">
				and createMethod=#{createMethod,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				and updateTime=#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateMethod != null">
				and updateMethod=#{updateMethod,jdbcType=VARCHAR},
			</if>

		</where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by MyBatis Generator, do not modify. This element was generated on Tue Oct 14 13:54:31 CST 2014. -->
		delete from registration
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.esd.db.model.Registration">
		<!-- WARNING - @mbggenerated This element is automatically generated by MyBatis Generator, do not modify. This element was generated on Tue Oct 14 13:54:31 CST 2014. -->
		insert into registration (id, name, card,
		district_id, phone, qq,
		address, des, create_time,
		create_method, update_time, update_method
		)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{card,jdbcType=VARCHAR},
		#{districtId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{des,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{createMethod,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateMethod,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.esd.db.model.Registration">
		<!-- WARNING - @mbggenerated This element is automatically generated by MyBatis Generator, do not modify. This element was generated on Tue Oct 14 13:54:31 CST 2014. -->
		insert into registration
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="card != null">
				card,
			</if>
			<if test="districtId != null">
				district_id,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="des != null">
				des,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createMethod != null">
				create_method,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateMethod != null">
				update_method,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="card != null">
				#{card,jdbcType=VARCHAR},
			</if>
			<if test="districtId != null">
				#{districtId,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				#{qq,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="des != null">
				#{des,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createMethod != null">
				#{createMethod,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateMethod != null">
				#{updateMethod,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.esd.db.model.Registration">
		<!-- WARNING - @mbggenerated This element is automatically generated by MyBatis Generator, do not modify. This element was generated on Tue Oct 14 13:54:31 CST 2014. -->
		update registration
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="card != null">
				card = #{card,jdbcType=VARCHAR},
			</if>
			<if test="districtId != null">
				district_id = #{districtId,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				qq = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="des != null">
				des = #{des,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createMethod != null">
				create_method = #{createMethod,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateMethod != null">
				update_method = #{updateMethod,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.esd.db.model.Registration">
		<!-- WARNING - @mbggenerated This element is automatically generated by MyBatis Generator, do not modify. This element was generated on Tue Oct 14 13:54:31 CST 2014. -->
		update registration
		set name = #{name,jdbcType=VARCHAR},
		card = #{card,jdbcType=VARCHAR},
		district_id = #{districtId,jdbcType=INTEGER},
		phone = #{phone,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		des = #{des,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		create_method = #{createMethod,jdbcType=VARCHAR},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		update_method = #{updateMethod,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>