<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esd.db.dao.usertypeMapper">
  <resultMap id="BaseResultMap" type="com.esd.db.model.usertype">
    <id column="user_type_id" jdbcType="INTEGER" property="userTypeId" />
    <result column="user_type_name" jdbcType="VARCHAR" property="userTypeName" />
    <result column="user_type_name_english" jdbcType="VARCHAR" property="userTypeNameEnglish" />
  </resultMap>
  <sql id="Base_Column_List">
    user_type_id, user_type_name,user_type_name_english
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from usertype
    where user_type_id = #{userTypeId,jdbcType=INTEGER}
  </select>
  <select id="selAllUsertypes" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from usertype
  </select>
  <select id="seluserTypeNameEnglish" resultType="java.lang.String" parameterType="java.lang.Integer">
    select 
    user_type_name_english
    from usertype
    where user_type_id= #{userTypeId,jdbcType=INTEGER}
  </select>
  <select id="seluserTypeName" resultType="java.lang.String" parameterType="java.lang.Integer">
    select 
    user_type_name
    from usertype
    where user_type_id= #{userTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from usertype
    where user_type_id = #{userTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esd.db.model.usertype">
    insert into usertype (user_type_id, user_type_name)
    values (#{userTypeId,jdbcType=INTEGER}, #{userTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.esd.db.model.usertype">
    insert into usertype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userTypeId != null">
        user_type_id,
      </if>
      <if test="userTypeName != null">
        user_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userTypeId != null">
        #{userTypeId,jdbcType=INTEGER},
      </if>
      <if test="userTypeName != null">
        #{userTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esd.db.model.usertype">
    update usertype
    <set>
      <if test="userTypeName != null">
        user_type_name = #{userTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where user_type_id = #{userTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esd.db.model.usertype">
    update usertype
    set user_type_name = #{userTypeName,jdbcType=VARCHAR}
    where user_type_id = #{userTypeId,jdbcType=INTEGER}
  </update>
</mapper>