<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.esd.db.dao.workerMapper" >
  <resultMap id="BaseResultMap" type="com.esd.db.model.worker" >
    <id column="worker_id" property="workerId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="worker_real_name" property="workerRealName" jdbcType="VARCHAR" />
    <result column="worker_id_card" property="workerIdCard" jdbcType="INTEGER" />
    <result column="worker_disability_card" property="workerDisabilityCard" jdbcType="INTEGER" />
    <result column="worker_phone" property="workerPhone" jdbcType="INTEGER" />
    <result column="worker_mac" property="workerMac" jdbcType="VARCHAR" />
    <result column="worker_bank_card" property="workerBankCard" jdbcType="INTEGER" />
    <result column="worker_paypal" property="workerPaypal" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_method" property="createMethod" jdbcType="VARCHAR" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_method" property="updateMethod" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.esd.db.model.worker" extends="BaseResultMap" >
    <result column="worker_image" property="workerImage" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    worker_id, user_id, worker_real_name, worker_id_card, worker_disability_card, worker_phone, 
    worker_mac, worker_bank_card, worker_paypal, create_id, create_time, create_method, 
    update_id, update_time, update_method, version
  </sql>
  <sql id="Blob_Column_List" >
    worker_image
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from worker
    where worker_id = #{workerId,jdbcType=INTEGER}
  </select>
    <select id="selectByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select 
	worker_id
    from worker
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from worker
    where worker_id = #{workerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.esd.db.model.worker" >
    insert into worker (worker_id, user_id, worker_real_name, 
      worker_id_card, worker_disability_card, worker_phone, 
      worker_mac, worker_bank_card, worker_paypal, 
      create_id, create_time, create_method, 
      update_id, update_time, update_method, 
      version, worker_image)
    values (#{workerId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{workerRealName,jdbcType=VARCHAR}, 
      #{workerIdCard,jdbcType=INTEGER}, #{workerDisabilityCard,jdbcType=INTEGER}, #{workerPhone,jdbcType=INTEGER}, 
      #{workerMac,jdbcType=VARCHAR}, #{workerBankCard,jdbcType=INTEGER}, #{workerPaypal,jdbcType=VARCHAR}, 
      #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createMethod,jdbcType=VARCHAR}, 
      #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateMethod,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER}, #{workerImage,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.esd.db.model.worker" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 03 14:58:36 CST 2014.
    -->
    insert into worker
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workerId != null" >
        worker_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="workerRealName != null" >
        worker_real_name,
      </if>
      <if test="workerIdCard != null" >
        worker_id_card,
      </if>
      <if test="workerDisabilityCard != null" >
        worker_disability_card,
      </if>
      <if test="workerPhone != null" >
        worker_phone,
      </if>
      <if test="workerMac != null" >
        worker_mac,
      </if>
      <if test="workerBankCard != null" >
        worker_bank_card,
      </if>
      <if test="workerPaypal != null" >
        worker_paypal,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createMethod != null" >
        create_method,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateMethod != null" >
        update_method,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="workerImage != null" >
        worker_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workerId != null" >
        #{workerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="workerRealName != null" >
        #{workerRealName,jdbcType=VARCHAR},
      </if>
      <if test="workerIdCard != null" >
        #{workerIdCard,jdbcType=INTEGER},
      </if>
      <if test="workerDisabilityCard != null" >
        #{workerDisabilityCard,jdbcType=INTEGER},
      </if>
      <if test="workerPhone != null" >
        #{workerPhone,jdbcType=INTEGER},
      </if>
      <if test="workerMac != null" >
        #{workerMac,jdbcType=VARCHAR},
      </if>
      <if test="workerBankCard != null" >
        #{workerBankCard,jdbcType=INTEGER},
      </if>
      <if test="workerPaypal != null" >
        #{workerPaypal,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMethod != null" >
        #{createMethod,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateMethod != null" >
        #{updateMethod,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="workerImage != null" >
        #{workerImage,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.esd.db.model.worker" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 03 14:58:36 CST 2014.
    -->
    update worker
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="workerRealName != null" >
        worker_real_name = #{workerRealName,jdbcType=VARCHAR},
      </if>
      <if test="workerIdCard != null" >
        worker_id_card = #{workerIdCard,jdbcType=INTEGER},
      </if>
      <if test="workerDisabilityCard != null" >
        worker_disability_card = #{workerDisabilityCard,jdbcType=INTEGER},
      </if>
      <if test="workerPhone != null" >
        worker_phone = #{workerPhone,jdbcType=INTEGER},
      </if>
      <if test="workerMac != null" >
        worker_mac = #{workerMac,jdbcType=VARCHAR},
      </if>
      <if test="workerBankCard != null" >
        worker_bank_card = #{workerBankCard,jdbcType=INTEGER},
      </if>
      <if test="workerPaypal != null" >
        worker_paypal = #{workerPaypal,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createMethod != null" >
        create_method = #{createMethod,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateMethod != null" >
        update_method = #{updateMethod,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="workerImage != null" >
        worker_image = #{workerImage,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where worker_id = #{workerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.esd.db.model.worker" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 03 14:58:36 CST 2014.
    -->
    update worker
    set user_id = #{userId,jdbcType=INTEGER},
      worker_real_name = #{workerRealName,jdbcType=VARCHAR},
      worker_id_card = #{workerIdCard,jdbcType=INTEGER},
      worker_disability_card = #{workerDisabilityCard,jdbcType=INTEGER},
      worker_phone = #{workerPhone,jdbcType=INTEGER},
      worker_mac = #{workerMac,jdbcType=VARCHAR},
      worker_bank_card = #{workerBankCard,jdbcType=INTEGER},
      worker_paypal = #{workerPaypal,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_method = #{createMethod,jdbcType=VARCHAR},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_method = #{updateMethod,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      worker_image = #{workerImage,jdbcType=LONGVARBINARY}
    where worker_id = #{workerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.esd.db.model.worker" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 03 14:58:36 CST 2014.
    -->
    update worker
    set user_id = #{userId,jdbcType=INTEGER},
      worker_real_name = #{workerRealName,jdbcType=VARCHAR},
      worker_id_card = #{workerIdCard,jdbcType=INTEGER},
      worker_disability_card = #{workerDisabilityCard,jdbcType=INTEGER},
      worker_phone = #{workerPhone,jdbcType=INTEGER},
      worker_mac = #{workerMac,jdbcType=VARCHAR},
      worker_bank_card = #{workerBankCard,jdbcType=INTEGER},
      worker_paypal = #{workerPaypal,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_method = #{createMethod,jdbcType=VARCHAR},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_method = #{updateMethod,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where worker_id = #{workerId,jdbcType=INTEGER}
  </update>
</mapper>