@CHARSET "utf-8";

body {
	font-family: "微软雅黑";
	padding-top: 60px;
	padding-bottom: 40px;
	padding-top: 60px;
	background:#efefef;
}

div.container {
	max-width: 1000px;
}

table.marginTop {
	margin-top: 20px;
}

input[type=file] {
	border: 0;
	padding: 0;
	box-shadow: none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	text-align:center;
	padding:4px 2px;;
}
ul.pagination{display:block;text-align:center;}
ul.pagination > li > a{float:none;}
.panel > .panel-body + .table, .panel > .panel-body + .table-responsive{
	border-bottom: 1px solid #ddd;
}
.pageGoText{
	margin:0 5px;
	width:40px;
	line-height:1.42857;
	border:1px solid #ddd;
	padding:6px 5px;
}
.modal-body,.modal-header{
	padding:5px;
}
.container{padding-left:0;padding-right:0;}
.navbar-inverse .navbar-brand{color:#fff;}
.navbar-inverse .navbar-nav > li > a{color:yellow;}
.navbar-inverse .navbar-text{color:#fff;}